schemas/ec_launchers/dd_ec_launchers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="ec_launchers_source_mode">
		<xs:annotation>
			<xs:documentation>Radiation pattern at the source aperture, decomposed as sum of modes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base">
				<xs:annotation>
					<xs:documentation>TEM|LP|HE|EH|TE|TM| ...</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="relative_amplitude">
				<xs:annotation>
					<xs:documentation>(check description)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angle">
				<xs:annotation>
					<xs:documentation>CCW rotation around direction from transverse_reference to local base for mode decomposition</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phase">
				<xs:annotation>
					<xs:documentation>(specify the implied time dependence) exp[+/-i*omega*t]</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_beam_polarization">
		<xs:annotation>
			<xs:documentation> description of wave polarization</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mode">
				<xs:annotation>
					<xs:documentation>polarization mode, O|X|mixed</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poincare sphere angle for mixed mode</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi">
				<xs:annotation>
					<xs:documentation>Poincare sphere angle for mixed mode</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Time base used for polarization quantities</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_source">
		<xs:annotation>
			<xs:documentation>Electron Cyclotron source</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Short string identifier (unique for a given device)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="geometry" type="detector_aperture" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Description of the geometry of the source</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frequency">
				<xs:annotation>
					<xs:documentation>Frequency</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum power that can be delivered by the source</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_launched" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power launched into the vacuum vessel</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mode" type="ec_launchers_source_mode" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Radiation pattern at the source aperture decomposed as sum of modes</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_beam_wavevector">
		<xs:annotation>
			<xs:documentation>Structure for components of the wavevector at the launching position (kR, kphi, kz). Dynamic within a type 1 array of structure and with a common time base at the same level)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kr">
				<xs:annotation>
					<xs:documentation>component along the major radius</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m_1</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="kz">
				<xs:annotation>
					<xs:documentation>component along the vertical direction</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m_1</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="kphi">
				<xs:annotation>
					<xs:documentation>component along the toroidal direction</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m_1</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_launching_position">
		<xs:annotation>
			<xs:documentation>Structure for R, Z, Phi positions and min max values of R (1D, dynamic within a type 1 array of structure and with a common time base at the same level)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_limit_min">
				<xs:annotation>
					<xs:documentation>Major radius lower limit for the system</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<introduced_after_version>3.32.1</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_limit_max">
				<xs:annotation>
					<xs:documentation>Major radius upper limit for the system</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<introduced_after_version>3.32.1</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_beam_spot">
		<xs:annotation>
			<xs:documentation>Spot ellipse characteristics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="size">
				<xs:annotation>
					<xs:documentation>Size of the spot ellipse: distance between the central ray and the peripheral rays in the horizontal (first index of the first coordinate) and vertical direction (second index of the first coordinate)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angle">
				<xs:annotation>
					<xs:documentation>Rotation angle for the spot ellipse</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_beam_phase">
		<xs:annotation>
			<xs:documentation>Phase ellipse characteristics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="curvature">
				<xs:annotation>
					<xs:documentation>Inverse curvature radii for the phase ellipse, positive/negative for divergent/convergent beams, in the horizontal direction (first index of the first coordinate) and in the vertical direction (second index of the first coordinate)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angle">
				<xs:annotation>
					<xs:documentation>Rotation angle for the phase ellipse</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_frame">
		<xs:annotation>
			<xs:documentation>local frame to describe movements of the mirror</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Short string identifier (unique for a given device)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Description, e.g. “channel viewing the upper divertor”</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<introduced_after_version>3</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="parent_id">
				<xs:annotation>
					<xs:documentation>array index in movable frame</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<introduced_after_version>3</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="movements" type="identifier">
				<xs:annotation>
					<xs:documentation>Definition of the degrees of freedom of the mirror</xs:documentation>
					<xs:appinfo>
						<doc_identifier>ec_launchers/frame_DOF_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="translation_max">
				<xs:annotation>
					<xs:documentation>maximum displacement with respect to reference position, along the direction vector</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rotation_angle_max">
				<xs:annotation>
					<xs:documentation>maximum angular displacement with respect to the reference position, measured around the axis of rotation</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="translation">
				<xs:annotation>
					<xs:documentation>linear displacement from reference position, along the direction vector</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rotation_angle">
				<xs:annotation>
					<xs:documentation>angular displacement with respect to the reference position, CCW around direction vector </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Time base used for the dynamic quantities at this level</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_mirror">
		<xs:annotation>
			<xs:documentation>Electron Cyclotron mirror</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Short string identifier (unique for a given device)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Description, e.g. “channel viewing the upper divertor”</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<introduced_after_version>3</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="parent_frame_id">
				<xs:annotation>
					<xs:documentation>Array index in movable frame</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<introduced_after_version>3</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="geometry" type="curved_object">
				<xs:annotation>
					<xs:documentation>Description of the geometry of the mirror</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ec_launchers_beam">
		<xs:annotation>
			<xs:documentation>Electron Cyclotron beam</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Short string identifier (unique for a given device)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Description, e.g. “channel viewing the upper divertor”</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<introduced_after_version>3</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequency" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_launched" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Beam power launched into the vacuum vessel</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parent_tl_index">
				<xs:annotation>
					<xs:documentation>integer indicating the array index in the transmission line where this beam generates. A 0-length transmission line, with a source as feed and no elements can be used to attach a source directly to a gaussian beam, e.g. in the case of a source directly facing the plasma.</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="launching_position" type="ec_launchers_launching_position">
				<xs:annotation>
					<xs:documentation>Launching position of the beam</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="ec_launchers_beam_wavevector">
				<xs:annotation>
					<xs:documentation>Wavevector at launch point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="polarization" type="ec_launchers_beam_polarization">
				<xs:annotation>
					<xs:documentation>Wave polarization</xs:documentation>
					<xs:appinfo>
						<introduced_after_version>4.0.0</introduced_after_version>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="steering_angle_pol">
				<xs:annotation>
					<xs:documentation>Steering angle of the EC beam in the R,Z plane (from the -R axis towards the -Z axis), angle_pol=atan2(-k_Z,-k_R), where k_Z and k_R are the Z and R components of the mean wave vector in the EC beam</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="steering_angle_tor">
				<xs:annotation>
					<xs:documentation>Steering angle of the EC beam away from the poloidal plane that is increasing towards the positive phi axis, angle_tor=arcsin(k_phi/k), where k_phi is the component of the wave vector in the phi direction and k is the length of the wave vector. Here the term wave vector refers to the mean wave vector in the EC beam</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../time</coordinate1>
						<cocos_label_transformation>tor_angle_like</cocos_label_transformation>
						<cocos_transformation_expression>.sigma_rphiz_eff</cocos_transformation_expression>
						<cocos_leaf_name_aos_indices>ec_launchers.launcher{i}.steering_angle_tor.data</cocos_leaf_name_aos_indices>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="spot" type="ec_launchers_beam_spot">
				<xs:annotation>
					<xs:documentation>Spot ellipse characteristics at launch</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phase" type="ec_launchers_beam_phase">
				<xs:annotation>
					<xs:documentation>Phase ellipse characteristics at launch</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Time base used for launching_position, angle, spot and phase quantities</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ec_launchers">
		<xs:annotation>
			<xs:documentation>Launchers for heating and current drive in the electron cyclotron (EC) frequencies.</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.7.0</lifecycle_version>
				<lifecycle_last_change>4.1.0</lifecycle_last_change>
			</xs:appinfo>
			<xs:appinfo/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="source" type="ec_launchers_source" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of sources associated with the launcher</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<introduced_after_version>4.0.0</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="frame" type="ec_launchers_frame" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>local reference onto which attach movable objects. Can be cascaded for composite movements.</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<introduced_after_version>4.0.0</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="mirror" type="ec_launchers_mirror" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of mirrors associated with the launcher</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<introduced_after_version>4.0.0</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="beam" type="ec_launchers_beam" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of Electron Cyclotron beams</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<introduced_after_version>3.36.0</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="latency">
					<xs:annotation>
						<xs:documentation>Upper bound of the delay between input command received from the RT network and actuator starting to react. Applies globally to the system described by this IDS unless specific latencies (e.g. channel-specific or antenna-specific) are provided at a deeper level in the IDS structure.</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>s</units>
							<introduced_after_version>3.32.1</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
